<!--#*
    Copyright 2012 MeetMe, Inc.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
    *#
-->
<html>
    <head>
        <title>$i18n.getText("gerrit.admin.label")</title>
        <meta name="decorator" content="atl.admin" />
        <meta name="application-base-url" content="$applicationProperties.getBaseUrl()" />
        $webResourceManager.requireResource("com.meetme.plugins.jira.gerrit-plugin:admin-resources")
    </head>
    <body>
        <form id="admin" class="aui" enctype="multipart/form-data" method="post" action="">
            <h2>$i18n.getText("gerrit.admin.label")</h2>

            #if ($!testResult == "true")
                <div class="aui-message aui-message-success">
                    <div><b>Success!</b></div>
                    <div>The connection to Gerrit was successful.</div>
                </div>
            #elseif ($!testResult == "false")
                <div class="aui-message aui-message-error">
                    <div><b>Connection Failed!</b></div>
                    <div>An error occurred while testing the connection to Gerrit.</div>
                    <blockquote>$!testError</blockquote>
                </div>
            #end

            <h3>$i18n.getText("gerrit.admin.ssh.label")</h3>
            <div class="field-group">
                <label for="sshHostname">
                    $i18n.getText("gerrit.admin.host.label"):
                    <span class="aui-icon icon-required"></span>
                </label>
                <input type="text" id="sshHostname" name="sshHostname" class="text" value="$!sshHostname" />
                <div class="description">$i18n.getText("gerrit.admin.host.description")</div>
            </div>
            <div class="field-group">
                <label for="sshPort">
                    $i18n.getText("gerrit.admin.port.label"):
                    <span class="aui-icon icon-required"></span>
                </label>
                <input type="text" id="sshPort" name="sshPort" class="text short-field" value="$!sshPort" />
                <div class="description">$i18n.getText("gerrit.admin.port.description")</div>
            </div>
            <div class="field-group">
                <label for="sshUsername">
                    $i18n.getText("gerrit.admin.username.label")
                    <span class="aui-icon icon-required"></span>
                </label>
                <input type="text" id="sshUsername" name="sshUsername" class="text" value="$!sshUsername" />
                <div class="description">$i18n.getText("gerrit.admin.username.description")</div>
            </div>
            <div class="field-group">
                <label for="sshPrivateKey">
                    $i18n.getText("gerrit.admin.sshKey.label"):
                    <span class="aui-icon icon-required"></span>
                </label>
                <input type="file" id="sshPrivateKey" name="sshPrivateKey" class="upfile" />
                <div class="description">
                    $i18n.getText("gerrit.admin.sshKey.description")
                </div>
                #if ($!sshPrivateKey)
                <div class="aui-message info">
                    <span class="aui-icon icon-info"></span>
                    $i18n.getText("gerrit.admin.sshKey.isOnFile")
                </div>
                #elseif (!$!sshPrivateKey && $!sshHostname)
                <div class="aui-message warning">
                    <span class="aui-icon icon-warning"></span>
                    $i18n.getText("gerrit.admin.sshKey.missing")
                </div>
                #end
            </div>

            <!-- This is not yet implemented: for JSON-RPC access -->
            <h3>$i18n.getText("gerrit.admin.http.label")</h3>

            <div class="field-group">
                <label for="httpBaseUrl">
                    $i18n.getText("gerrit.admin.httpBaseUrl.label")
                </label>
                <input type="text" id="httpBaseUrl" name="httpBaseUrl" class="text" value="$!httpBaseUrl" />
                <div class="description">$i18n.getText("gerrit.admin.httpBaseUrl.description")</div>
            </div>
            <div class="field-group">
                <label for="httpUsername">
                    $i18n.getText("gerrit.admin.httpUsername.label")
                </label>
                <input type="text" id="httpUsername" name="httpUsername" class="text" value="$!httpUsername" />
                <div class="description">$i18n.getText("gerrit.admin.httpUsername.description")</div>
            </div>
            <div class="field-group">
                <label for="httpPassword">
                    $i18n.getText("gerrit.admin.httpPassword.label")
                </label>
                <input type="password" id="httpPassword" name="httpPassword" class="text" value="$!httpPassword" />
            </div>

            #*
            ## TODO: Optional "suexec" checkbox with peer_key input?
            ## TODO: Option to enable/require per-user SSH keys, so JIRA can act on behalf of the user?
            *#

            <h3>$i18n.getText("gerrit.admin.search.label")</h3>
            <div class="field-group">
                <label for="issueSearchQuery">$i18n.getText("gerrit.admin.issueSearchQuery.label")</label>
                <input type="text" id="issueSearchQuery" name="issueSearchQuery" class="text" value="$!issueSearchQuery" />
                <div class="description">$i18n.getText("gerrit.admin.issueSearchQuery.description")</div>
            </div>

            <h3>$i18n.getText("gerrit.admin.project.settings")</h3>

            <fieldset class="group">
                <input class="checkbox" type="checkbox" id="showEmptyPanel" name="showEmptyPanel" value="true"
                    #if ($!showEmptyPanel == "true") checked="checked" #end />
                <label for="showEmptyPanel">$i18n.getText("gerrit.admin.showEmptyPanel.label")</label>
                <div class="description">$i18n.getText("gerrit.admin.showEmptyPanel.description")</div>
            </fieldset>

            <fieldset class="group">
                <input class="checkbox" type="checkbox" id="useGerritProjectWhitelist" name="useGerritProjectWhitelist"
                       value="false"
                    #if ($!useGerritProjectWhitelist == "true") checked="checked" #end
                       onchange="if (document.getElementById('useGerritProjectWhitelist').checked)
                                    {document.getElementById('gerritProjectDiv').style.display= '';}
                                 else
                                    { document.getElementById('gerritProjectDiv').style.display= 'none';}"
                />

                <label for="useGerritProjectWhitelist">$i18n.getText("gerrit.admin.project.useWhiteList.label")</label>
                <div class="description">$i18n.getText("gerrit.admin.project.useWhiteList.description")</div>
            </fieldset>

            <div class="field-group" id="gerritProjectDiv"
                #if ($!useGerritProjectWhitelist == "false") style="display:none;" #end
                >
                <label for="projectsUsingGerrit">$i18n.getText("gerrit.admin.project.whitelist")</label>
                <select id="allProjects" name="knownGerritProjects" multiple="">
                    #foreach ($project in $allProjects)
                        <option value="$project.id"
                            #if ($knownGerritProjects.isEmpty() == false && $knownGerritProjects.contains($project))
                                selected="selected"
                            #end title="$project.id">$project.name
                        </option>
                    #end
                </select>
                <script>
                    AJS.$("#allProjects").auiSelect2();
                </script>
                <div class="description">$i18n.getText("gerrit.admin.project.whitelist.description")</div>
            </div>

            <div class="buttons-container">
                <div class="buttons">
                    <button type="submit" name="action" value="save" class="button submit">Save</button>
                    <button type="submit" name="action" value="test" class="button submit">Test Config</button>

                    #*
                     * Clear cache button?
                     *#
                </div>
            </div>
        </form>
    </body>
</html>
