<!--#*
    Copyright 2012 MeetMe, Inc.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the
    License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See
    the License for the specific language governing permissions and
    limitations under the License.
    *#

    ### See utility.vm

    #* Calculates and displays the most significant approval score *#
    #macro( mostSignificantScore $approvals )
    #set( $significant = 0 )

    #foreach( $approval in $approvals )
    #set( $value = $approval.valueAsInt )
    #if( 0 > $value && $significant > $value )
    #set( $significant = $value )
    #elseif( $value > 0 && $value > $significant && $significant >= 0 )
    #set( $significant = $value )
    #end
    #end

    <span class="#if ($significant > 0)review-positive#else review-negative #end gerrit-review-score" title="$i18n.getText('gerrit.tabpanel.most_significant_score')">
    #if ( $significant > 0 )
    +$significant
    #else
    $significant
    #end
    </span>

    #end



    #* Displays a single Review Detail record, in the expanded subtasks list *#
    #macro( reviewDetail $change )
    <span class="gerrit-review" title="$i18n.getText('gerrit.tabpanel.Review')">$i18n.getText('gerrit.tabpanel.Review'): </span>
    $change.getNumber(),$change.getPatchSet().getNumber()
    <a href="$change.getUrl()" target="gerrit-review-$change.getNumber(),$change.getPatchSet().getNumber()">$change.getSubject()</a>
    -
    #if ($change.isOpen())
    #mostSignificantScore($change.getPatchSet().getApprovals())
    #else
    ($change.status)
    #end
    #end

    #set( $statusClass = "gerrit-status-$change.status" )
    #if ($change.isOpen())
    #set( $openClass = "gerrit-review-open" )
    #else
    #set( $openClass = "gerrit-review-closed" )
    #end
-->
<div class="issue-data-block twixi-block collapsed $statusClass $openClass">
    ## The concise version:
    <div class="actionContainer twixi-wrap concise">
        <a href="#" class="twixi">
            <span class="icon twixi-closed">
                <span>Show</span>
            </span>
        </a>

        <div class="action-details flooded">
            #reviewDetail( $change )
        </div>
    </div>


    ## The verbose version:
    <div class="actionContainer twixi-wrap verbose">
        <a href="#" class="twixi">
            <span class="icon twixi-opened">
                <span>Hide</span>
            </span>
        </a>
        <div class="action-links">
            ## Top-right links that show up while hovering
            <a href="$change.url" target="gerrit-review-$change.number,$change.patchSet.number" title="$i18n.getText('gerrit.tabpanel.permalink')" class="icon icon-perma">
                <span>Permalink</span>
            </a>
        </div>

        ## Main action detail
        <div class="action-details">
            <span class="gerrit-review" title="$i18n.getText('gerrit.tabpanel.Review')">$i18n.getText('gerrit.tabpanel.Review'): </span>
            $change.number,$change.patchSet.number
            <a href="$change.url" target="gerrit-review-$change.number,$change.patchSet.number">$change.subject</a>
            -
            <span class="subText">
                <span class="date user-tz" title="$formatLastUpdated">
                    <time datetime="$isoLastUpdated">$formatLastUpdated</time>
                </span>
            </span>
        </div>

        <div class="action-body">
            <div>$i18n.getText("gerrit.tabpanel.Project"): $change.project</div>
            <div>$i18n.getText("gerrit.tabpanel.Branch"): $change.branch</div>
            <div>
                $i18n.getText("gerrit.tabpanel.Status"):
                #if ($change.isOpen())
                $i18n.getText("gerrit.tabpanel.status.open")
                #else
                $i18n.getText("gerrit.tabpanel.status.closed")
                #end
                ($change.status)
            </div>

            <table border="0" padding="3" class="gerrit-review-approvals">
                <tr>
                    <th>$i18n.getText("gerrit.tabpanel.Approver")</th>
                    <th>$i18n.getText("gerrit.tabpanel.Type")</th>
                    <th>$i18n.getText("gerrit.tabpanel.Score")</th>
                </tr>

                #if (!$change.patchSet.approvals || !$change.patchSet.approvals.size())
                <tr>
                    <td colspan="3">
                        <div class="aui-message warning">
                            <span class="aui-icon icon-warning"></span>
                            $i18n.getText("gerrit.tabpanel.no_approvals")
                        </div>
                    </td>
                </tr>
                #end

                #foreach( $approval in $change.patchSet.approvals )
                <tr>
                    <td>
                        #if ($approval.user)
                        <a class="user-hover" rel="$approval.user.name" href="$baseurl/secure/ViewProfile.jspa?name=$approval.user.name">$approval.user.displayName</a>
                        #else
                        $approval.by
                        #end
                    </td>
                    <td>$approval.type</td>
                    <td width="40" class="#if ($approval.valueAsInt > 0)review-positive#else review-negative #end gerrit-review-score">
                        #if ($approval.valueAsInt > 0)
                        +$approval.valueAsInt
                        #else
                        $approval.valueAsInt
                        #end
                    </td>
                </tr>
                #end
            </table>
        </div>
    </div>
</div>
