<!-- ### XXX: This file is not actually included, due to an issue with VTL and #macro() inside a #parse-d file:
    #### XXX: See http://wiki.apache.org/velocity/MacroIssues


    #* Calculates and displays the most significant approval score *#
    #macro( mostSignificantScore $approvals )
    #set( $significant = 0 )

    #foreach( $approval in $approvals )
    #set( $value = $approval.valueAsInt )
    #if( 0 > $value && $significant > $value )
    #set( $significant = $value )
    #elseif( $value > 0 && $value > $significant && $significant >= 0 )
    #set( $significant = $value )
    #end
    #end

    <span class="#if ($significant > 0)review-positive#else review-negative #end gerrit-review-score" title="$i18n.getText('gerrit.tabpanel.most_significant_score')">
    #if ( $significant > 0 )
    +$significant
    #else
    $significant
    #end
    </span>

    #end



    #* Displays a single Review Detail record, in the expanded subtasks list *#
    #macro( reviewDetail $change )
    <span class="gerrit-review" title="$i18n.getText('gerrit.tabpanel.Review')">$i18n.getText('gerrit.tabpanel.Review'): </span>
    $change.getNumber(),$change.getPatchSet().getNumber()
    <a href="$change.getUrl()" target="gerrit-review-$change.getNumber(),$change.getPatchSet().getNumber()">$change.getSubject()</a>
    -
    #if ($change.isOpen())
    #mostSignificantScore($change.patchSet.approvals)
    #else
    ($change.status)
    #end
    #end
-->